body {
    background-color: #1B244A;
}

#container {
    display: flex;
    justify-content: space-around;
}

h3 {
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
}

#home-score, #guest-score, #time {
    background-color: #080001;
    padding-top: 10px;
    border-radius: 5px;
    width: 155px;
    height: 120px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    color: #F94F6D;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time {
    font-size: 40px;
}

#home-buttons, #guest-buttons, #time-buttons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#home-btn-1, #home-btn-2, #home-btn-3,
#guest-btn-1, #guest-btn-2, #guest-btn-3,
#start-btn, #stop-btn, #reset-btn {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #1B244A;
    color: white;
    font-size: 18px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border: 2px solid #9AABD8;
    cursor: pointer;
    transition: all 0.1s ease;
}

#start-btn, #stop-btn, #reset-btn {
    font-size: 10px;
}

#home-btn-1:hover, #home-btn-2:hover, #home-btn-3:hover,
#guest-btn-1:hover, #guest-btn-2:hover, #guest-btn-3:hover,
#start-btn:hover, #stop-btn:hover, #reset-btn:hover {
    background-color: #242f5c;
    border-color: #b3bfe6;
}

