body{
    background-color: #1B244A;
}

.container{
    display: flex;
    justify-content: space-around;
 
 
}


.container h3{
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
}
.home-score-container, .guest-score-container,.time-container{
    background-color: #080001;
    padding-top: 10px;
    border-radius: 5px;
    width: 155px;
    height: 120px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    color: #F94F6D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-container{
    font-size: 40px;
}
    
.home-score-buttons, .guest-score-buttons,.time-buttons{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.home-score-button, .guest-score-button,.time-button{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #1B244A;
    color: white;
    font-size: 18px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border: 2px solid #9AABD8;
    cursor: pointer;
    transition: all 0.1s ease;
}
    
    
.time-button{
   font-size: 10px;
}

/* Button press effect */

/* Hover effect */
.home-score-button:hover, 
.guest-score-button:hover,
.time-button:hover {
    background-color: #242f5c;
    border-color: #b3bfe6;
}

/* Optional: Add focus outline for accessibility */

